## Data Mining Project - Ventilator Pressure Prediction

### Data Acquisition

In [14]:
#testing for github desktop isit can directly push

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [16]:
train_data = pd.read_csv('train.csv')
train_data.head(20)
#print(train_data)

    id  breath_id   R   C  time_step       u_in  u_out   pressure
0    1          1  20  50   0.000000   0.083334      0   5.837492
1    2          1  20  50   0.033652  18.383041      0   5.907794
2    3          1  20  50   0.067514  22.509278      0   7.876254
3    4          1  20  50   0.101542  22.808822      0  11.742872
4    5          1  20  50   0.135756  25.355850      0  12.234987
5    6          1  20  50   0.169698  27.259866      0  12.867706
6    7          1  20  50   0.203708  27.127486      0  14.695562
7    8          1  20  50   0.237723  26.807732      0  15.890699
8    9          1  20  50   0.271776  27.864715      0  15.539188
9   10          1  20  50   0.305732  28.313036      0  15.750094
10  11          1  20  50   0.339675  26.866758      0  17.296741
11  12          1  20  50   0.373680  26.762803      0  17.226439
12  13          1  20  50   0.407650  27.993274      0  16.171907
13  14          1  20  50   0.441804  26.789898      0  17.367044
14  15          1  20  50   0.476103  25.634070      0  18.070065
15  16          1  20  50   0.509996  26.280195      0  17.156137
16  17          1  20  50   0.544041  24.726714      0  18.280971
17  18          1  20  50   0.578179  23.467889      0  18.773086
18  19          1  20  50   0.612109  23.858434      0  17.859159
19  20          1  20  50   0.646055  21.883404      0  19.124597

In [17]:
test_data = pd.read_csv('test.csv')
test_data.head(20)

    id  breath_id  R   C  time_step       u_in  u_out
0    1          0  5  20   0.000000   0.000000      0
1    2          0  5  20   0.031904   7.515046      0
2    3          0  5  20   0.063827  14.651675      0
3    4          0  5  20   0.095751  21.230610      0
4    5          0  5  20   0.127644  26.320956      0
5    6          0  5  20   0.159557  30.486938      0
6    7          0  5  20   0.191471  33.545950      0
7    8          0  5  20   0.223402  35.717600      0
8    9          0  5  20   0.255337  36.971061      0
9   10          0  5  20   0.287230  37.542219      0
10  11          0  5  20   0.319135  37.434198      0
11  12          0  5  20   0.351068  37.137143      0
12  13          0  5  20   0.383002  35.937643      0
13  14          0  5  20   0.414878  34.712418      0
14  15          0  5  20   0.446796  33.132383      0
15  16          0  5  20   0.478691  31.092450      0
16  17          0  5  20   0.510588  28.771113      0
17  18          0  5  20   0.542469  26.216373      0
18  19          0  5  20   0.574380  23.537972      0
19  20          0  5  20   0.606316  20.548422      0

In [27]:
# Missing Value
(train_data.astype(object) == '?').any()

id           False
breath_id    False
R            False
C            False
time_step    False
u_in         False
u_out        False
pressure     False
dtype: bool

In [28]:
# Missing Value
(test_data.astype(object) == '?').any()

id           False
breath_id    False
R            False
C            False
time_step    False
u_in         False
u_out        False
dtype: bool

In [20]:
# Check Data types
train_data.dtypes

id             int64
breath_id      int64
R              int64
C              int64
time_step    float64
u_in         float64
u_out          int64
pressure     float64
dtype: object

In [21]:
# Check Data types
test_data.dtypes

id             int64
breath_id      int64
R              int64
C              int64
time_step    float64
u_in         float64
u_out          int64
dtype: object